body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
   /* Estilo para el contenedor de las imágenes */
   .contenedor-imagenes {
    display: flex; /* Utiliza un contenedor flexible (flexbox) */
}

/* Estilo para las imágenes */
.imagen {
    width: 200px; /* Establece un ancho específico para todas las imágenes */
    height: 150px; /* Establece una altura específica para todas las imágenes */
    margin-right: 10px; /* Añade un margen derecho para separar las imágenes */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto */
}
header {
    background-color: rgb(58, 221, 58);
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}
#contenido {
    max-width: 800px;
    margin: 0 auto;
}
article {
    margin-bottom: 20px;
}

footer {
    background-color: #270c0c;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
